.btn_box {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 1vw;
  bottom: 1vw;
}

.btn_box button {
  width: 80px;
  height: 30px;
  margin-top: 16px;
  margin-right: 10px;
}
