.survey-board > div:nth-child(n + 2) {
  margin-top: 20px;
}
.question {
  font-family: "NanumGothicBold";
  font-size: 16px;
  margin-bottom: 10px;
}

.option {
  padding-left: 30px;
  line-height: 24px;
}
.survey-box:nth-child(4) p {
  width: 300px;
}
