@font-face {
  font-family: "Pretendard-Bold";
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../fonts/Pretendard-Bold.woff") format("woff"),
    url("../fonts/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../fonts/Pretendard-Regular.woff") format("woff"),
    url("../fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SEBANG-Gothic-Regular";
  src: url("../fonts/SEBANG-Gothic-Regular.otf") format("opentype"),
    url("../fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SEBANG-Gothic-Bold";
  src: url("../fonts/SEBANG-Gothic-Bold.otf") format("opentype"),
    url("../fonts/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic";
  src: url("../fonts/NanumGothic.ttf") format("truetype"),
    url("../fonts/NanumGothic.otf") format("opentype");
}
@font-face {
  font-family: "NanumGothicBold";
  src: url("../fonts/NanumGothicBold.ttf") format("truetype"),
    url("../fonts/NanumGothicBold.otf") format("opentype");
}
@font-face {
  font-family: "NanumGothicExtraBold";
  src: url("../fonts/NanumGothicExtraBold.ttf") format("truetype"),
    url("../fonts/NanumGothicExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "NanumGothicLight";
  src: url("../fonts/NanumGothicLight.ttf") format("truetype"),
    url("../fonts/NanumGothicLight.otf") format("opentype");
}

a {
  text-decoration: none;
}
